:root{
    --basic-dark: #293449;
    --basic-grey:#32425C;
    --basic-red:#EE3643;
    --basic-white:#ffffff;
    --basic-green:#63A63E;
    }

.bread-crumbs, .sort-list{
    list-style: none;
    text-transform: uppercase;
}

.bread-crumbs-item, .sort-item{
 display: inline-block;
}

.head-category{
 font-family: Cuprum;
 font-style: normal;
 font-weight: normal;
 font-size: 30px;
 line-height: 30px;
 color:var(--basic-grey)
}

.head-filter, .head-sort{
 font-family: PT Sans;
 font-style: normal;
 font-weight: normal;
 font-size: 13px;
 line-height: 18px;
 color: #000000;
}

.sort-link{
 font-family: PT Sans;
 font-style: normal;
 font-weight: normal;
 font-size: 13px;
 line-height: 18px;
 color:var(--basic-grey);
 text-decoration: underline;
 text-decoration-color: var(--basic-red);
}
.sort-link:hover{
    color:var(--basic-red);
    text-decoration:none;
}
.p-about-product{
 font-family: PT Sans;
 font-style: normal;
 font-weight: normal;
 font-size: 13px;
 line-height: 24px;
}

.pagination-list{
    list-style: none;
}

.a-next-page{
 font-family: PT Sans;
 font-style: normal;
 font-weight: normal;
 font-size: 13px;
 line-height: 18px;
 color:#000000;
 text-transform: uppercase;
}

