:root {
  --basic-dark: #293449;
  --basic-grey: #32425C;
  --basic-red: #EE3643;
  --basic-white: #ffffff;
  --basic-green: #63A63E;
  --basic-blue: #F1F5F7;
}

.page {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  width:100%;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color:var(--basic-dark);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.head-top-logo {
  object-fit: cover;
}

.head-top {
  background-color: var(--basic-dark);
}

.search-label {
  color:var(--basic-white);
  font-size: 18px;
}

.head-top-list a {
  color: var(--basic-white);
  font-size: 18px;
}

.head-top-list a:active {
  opacity: 0.5;
}

.order-link {
  background-color: var(--basic-green);
}

.mid-head {
  background-image: url(img/backservice.png);
  background-color: var(--basic-blue);
}

.head-info {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.phone-info {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-red);
}

.adress-info {
  font-size: 14px;
  color: var(--basic-grey);
}

.entry-link, .reg-link {
  font-size: 21px;
  color: #000000;
  background-color: var(--basic-white);
}

.entry-link:hover, .reg-link:hover {
  color: var(--basic-red);
}

.entry-link:active, .reg-link:active {
  color: #C5C5C5;
}

.nav-menu {
  background-color: var(--basic-grey);
}

.nav-menu a {
  font-weight: normal;
  font-size: 18px;
  color: var(--basic-white);
}

.nav-menu a:hover{
  background-color: var(--basic-dark);
}

.nav-menu a:active{
  background-color: var(--basic-dark);
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin:-1px;
  border:0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip:(0 0 0 0);
  overflow: hidden;
}

.offers-mat {
  background-color: #FFBF47;
}

.offers-tools {
  background-color: #3BBCE3;
}

.offers-tech {
  background-color: #DC91D8;
}

.offers-sale {
  background-color: #8ED78F;
}

.offers-del {
  background-color: #FFBF47;
}

.offers-product-list a, .offers-service-list a {
  font-weight: bold;
  font-size: 24px;
  color: var(--basic-white);
}

.offers-product-list p, .offers-service-list p {
  font-size: 14px;
  color: var(--basic-white);
}

.offers-product-list p:hover, .offers-service-list p:hover {
   background-color: #C5C5C5;
   opacity: 0.3;
}

.offers-product-list p:active, .offers-service-list p:active{
  background-color: #A9A9A9;
  opacity: 0.3;
}

.slider-list h3 {
  font-weight: bold;
  font-size: 36px;
}

.slider-list p {
  font-size: 18px;
}

.slider-link {
  font-size: 14px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.slider-link:hover{
  background-color: #CA2C37;
}

.slider-link:active{
  background-color:#BA2732;
}

.section-heading {
  background-color: #F9F5F0;
}

.section-heading h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
}

.product {
  border: 1px solid #EAEAEA;
}

.product h3 {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.p-new-price {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.s-old-prise {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  color: #A9A9A9;
}

.link-more {
  font-size: 14px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.brand-list img:hover{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.brand-list img:active{
  opacity: 0.3;
}

.services-container {
  background-color: var(--basic-blue);
}

.services-head {
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-container h3 {
  font-size: 30px;
  color: var(--basic-grey);
  text-transform: uppercase;
}

.services-container p {
  font-family: PT Sans;
  font-size: 13px;
  color: #000000;
}

.service-item-link {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
  background-color: var(--basic-grey);
}

.service-item-link:hover{
  background-color: var(--basic-dark);

}

.service-block-credit a {
  font-size: 14px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.company-container h2, .contacts-block h2 {
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

.company-container p, .contacts-block p {
  font-family: PT Sans;
  font-size: 13px;
  color: #000000;
}

.delivery-item {
  font-size: 18px;
  color: #000000;
}

.delivery-item:before {
  content: "-";
  color: var(--basic-red);
  font-size: 18px;
}

.footer-top {
  background-color: var(--basic-grey);
}

.footer-middle {
  background-color: var(--basic-grey);
}

.footer-bottom {
  background-color: var(--basic-dark);
}

.footer-top-list a {
  font-size: 18px;
  color: var(--basic-blue)
}

.footer-top-list a:hover{
  text-decoration:underline var(--basic-white);
}

.low-footer-list a {
  font-size: 18px;
  color: #FFD180;
}

.low-footer-list a:hover{
  text-decoration:underline #FFD180;
}

.footer-middle address, .footer-tel {
  font-size: 18px;
  color: #F3F7F9;
}

.copyright-p {
  font-size: 16px;
  color: var(--basic-white);
}

.feedback-container p {
  font-size: 16px;
  color: #FFD180;
}

.feedback-container a {
  font-size: 16px;
  color: var(--basic-white);
}

.head-link {
  font-size: 16px;
  color: var(--basic-grey);
}

.head-link:hover {
  color: var(--basic-red);
}

.head-link:active {
  color: #C5C5C5;
}

.user-link{
  font-size: 21px;
  color:#000000;
}

.user-link:active{
  color: #C5C5C5;
}

.bread-crumbs-item {
  font-family: PT Sans;
  font-size: 13px;
  color: #000000;
  text-transform: uppercase;
}

.section-heading-catalog {
  background-color: var(--basic-blue);
}

.filter-container h2, .head-sort {
  font-family: PT Sans;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  background-color: #F7F3EC;
}

.legend-heading {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}

.filter-label {
  font-family: PT Sans;
  font-size: 15px;
  color: #000000;
  text-transform: uppercase;
}

.filter-button {
  font-family: PT Sans;
  font-size: 13px;
  color: #000000;
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.filter-container fieldset {
  border: none;
}

.sort-container {
  background-color: #F7F3EC;
}

.sort-list a {
  font-family: PT Sans;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #EAEAEA;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sort-list a:hover{
  opacity: 1;
}

.pagination-item, .pagination a {
  font-family: PT Sans;
  font-size: 13px;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #EAEAEA;
}

.pagination-item:active, .pagination a:active {
  border: 1px solid var(--basic-red);
}

.about-product-container {
  background-color: var(--basic-blue);
}

.about-product-container h2 {
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-product-container p {
  font-family: PT Sans;
  font-size: 13px;
}