:root {
  --basic-dark: #293449;
  --basic-grey: #32425C;
  --basic-red: #EE3643;
  --basic-white: #ffffff;
  --basic-green: #63A63E;
}

.page {
  height: 100%;
}

ul {
  list-style: none;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: var(--basic-white);
}

main {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.logo-container{
  grid-column: 2/2;
  margin-right: 20px;
  
}

.logo {
  height: 47px;
  width: 220px;
  background-color: var(--basic-red);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  object-fit: cover;
    

}

.order-link {
  background-color: var(--basic-green);
  border: none;
  padding: 9px 16px;
}

.search-label{
  grid-column: 3/3;
  margin:12px 0;
  }

.top-bar-list a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.top-bar-container {
  height: 42px;
  background-color: var(--basic-dark);
  display: grid;
  grid-template-columns: 200px 220px 1fr;
  align-content:center;
  
 }

.top-bar-list {
  margin-right: 130px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  grid-column: -1/-1;
 }

.top-bar-link{
  margin-right: 50px;
  
}

.head-top {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-main {
  height: 280px;
  background-image: url("img/BackService.png") no-repeat;
  background-color: azure;
}

.search-label {
  color: var(--basic-white)
}

.head-text {
  color: var(--basic-red);
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.phone-info {
  color: var(--basic-red);
  font-size: 21px;
  font-weight: 700;
}

.adress-info {
  color: var(--basic-grey);
  line-height: 24px;
  font-style: normal;
}

.entry-link, .reg-link {
  font-size: 21px;
  font-weight: 400;
  color: #000000;
}

.entry-link{
  margin-right: 10px;
}

.nav-menu {
  background-color: var(--basic-grey);
  width: 940px;
  height: 60px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav-list {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link, .top-bar-link {
  color: var(--basic-white);
  text-decoration: none;
}

.nav-item: {
  margin-right: 53px;
}

.nav-item:hover {
  background-color: var(--basic-dark);
}

.menu-desktop{
  margin-top: 40px;

}

.menu-desktop-item {
  list-style: none;
  width: 300px;
  height: 123px;
  margin-right: 20px;
  margin-top:20px;
}

.menu-desktop-p {
  color: #f3f0f0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  margin: 0;
  padding: 9px 16px;
}

.flex-container{
  display: flex;
}

.menu-desktop h2 {
  display: none;
}

.menu-list-product{
  display: flex;
 
}

.menu-list-service{
  display: flex;
  flex-direction: column;
}

.slider{
  
}



.mat {
  background-color: #FFBF47;
}

.tools {
  background-color: #3BBCE3;
}

.tech {
  background-color: #DC91D8;
}

.sale {
  background-color: #8ED78F;
}

.del {
  background-color: #FFBF47;
}

.container {
  margin-bottom: 70px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.product-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-wrapper {
  margin-right: 20px;
  width: 220px;
  height: 320px;
}

.product-wrapper:nth-child(3n) {
  margin-right: 0;
}

.brand-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.brand-item {
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0;
}

.brand-item:nth-child(4n){
  margin-right: 0;
}

.company-container {
  display: flex;
  justify-content: space-between;
}

.service-item {
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.service-item-link {
  color: #ffffff;
  background-color: var(--basic-grey);
}

.link-page {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  text-transform: uppercase;
  border: none;
  display: inline-block;
  padding: 10px 16px;
}

.services-container h2, .pop-container h2, .brand-container h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
  font-style: normal;
  font-weight: normal;
}

.company-block h3, .contacts-block h3, .services-container h3 {
  color: #000000;
  text-transform: uppercase;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.company-block p, .services-container p, .contacts-block p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.delivery-list {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.delivery-item:before {
  content: "—";
  position: relative;
  left: -5px;
  color: var(--basic-red);
  font-size: 20px;
}

.service-item-more h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--basic-grey);
  font-style: normal;
  font-weight: normal;
}

.menu-product-link, .menu-service-link:link {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 30px;
}

.menu-product-link, .menu-service-link:visited {
  color: #FFFFFF;
}

.head-category {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-grey)
}

.head-filter, .head-sort {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.catalog-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: min-content auto;
  column-gap: 20px;
}

.catalog {
  grid-column: 2/-1;
  grid-row: 2/-1;
}

.filter-container {
  width: 220px;
  height: max-content;
  grid-column: 1/2;
  grid-row: 1/-1;
}

.bread-crumbs, .sort-list {
  list-style: none;
  text-transform: uppercase;
}

.bread-crumbs-item {
  display: inline-block;
}

.sort-link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-grey);
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}

.sort-list {
  display: flex;
  justify-content: start;
}

.sort-container {
  display: flex;
  grid-column: 2/-1;
}

.sort-item {
  margin-left: 70px;
}

.sort-link:hover {
  color: var(--basic-red);
  text-decoration: none;
}

.p-about-product {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.pagination-list {
  list-style: none;
  display: flex;
  justify-content: star;
}

.pagination-item {
  margin-right: 25px;
}

.a-next-page {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.s-old-prise, .p-new-price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: #A9A9A9;
}

.p-new-price {
  color: #FFFFFF;
  background: var(--basic-red);
  width: 142px;
  height: 38px;
}

.product-p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}



.footer-bottom {
  background-color: var(--basic-dark);
  background-size: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 110px;
}

.footer-top {
  margin-top: 52px;
  background-color: var(--basic-grey);
  display: flex;
  align-items:flex-start;
  height: 195px;
}

.footer-logo{
  margin-left: 130px;
  margin-right: 130px;
}

.top-footer-link {
  color: #FFFFFF;
  margin-right: 58px;
}

.low-footer-link {
  color: #FFD180;
  margin-right: 58px;
}

.low-footer-list, .top-footer-list {
  margin: 0;
  padding: 0;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
}

.low-footer-list{
  margin-top: 34px;
  margin-left: 35px;
}

.top-footer-list{
  margin-top: 37px;
 
}

.social-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.social-item {
  width: 26px;
  height: 15px;
}

.img-social{
  width: 26px;
  height: 15px;
}

.footer-top address, .footer-tel {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

.copyright-p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin-left: 130px;
 }

.feedback-container{
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-right: 130px;
}

.feedback-container:nth-child(1n){
  color:#FFFFFF;
}

.feedback-container a {
  color: #FFD180;

}
