:root {
  --basic-dark: #293449;
  --basic-grey: #32425C;
  --basic-red: #EE3643;
  --basic-white: #ffffff;
  --basic-green: #63A63E;
}

.page {
  height: 100%;
}

ul {
  list-style: none;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: var(--basic-white);
}

main {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.head-top-logo {
  object-fit: cover;
}

.search-button {
  visibility: hidden;
}

